<!--
  Generated template for the AddEstoquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Adicionar estoque na loja {{ loja.nome }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<form (ngSubmit)="save()" [formGroup]="formValidation">	
		<ion-list>
	  		<ion-input type="hidden" formControlName="loja_id" [(ngModel)]="estoque.loja_id" [value]="loja.id"></ion-input>
		  <ion-item>
		    <ion-label floating>Produto</ion-label>
		    <ion-select [(ngModel)]="estoque.produto_id" formControlName="produto_id" [class.invalid]="!formValidation.controls.produto_id.valid && (formValidation.controls.produto_id.dirty || submitAttempt)">
		      <ion-option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</ion-option>
		    </ion-select>
		  </ion-item>

		  <ion-grid>
		  	<ion-row>
		  		<ion-col col-5>
		  			<ion-item>
		  			  <ion-label floating>Quantidade</ion-label>
		  			  <ion-input type="number" maxlength="10" required formControlName="quantidade" [(ngModel)]="estoque.quantidade" [class.invalid]="!formValidation.controls.quantidade.valid && (formValidation.controls.quantidade.dirty || submitAttempt)"></ion-input>
		  			</ion-item>
		  		</ion-col>
		  		<ion-col col-2></ion-col>

		  		<ion-col col-5>
		  			<ion-item>
			  			<ion-label floating>Unidade</ion-label>
			  			<ion-select [(ngModel)]="estoque.unidade_id" formControlName="unidade_id" [class.invalid]="!formValidation.controls.unidade_id.valid && (formValidation.controls.unidade_id.dirty || submitAttempt)">
			  				<ion-option *ngFor="let unidade of unidades" [value]="unidade.id">{{ unidade.unidade }}</ion-option>
			  			</ion-select>
		  			</ion-item>
		  		</ion-col>
		  	</ion-row>
		  </ion-grid>
		</ion-list>
		<button ion-button block color="secondary" type="submit">Salvar</button>
	</form>
</ion-content>
