<!--
  Generated template for the VendasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Vendas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	
	<button ion-button (click)="adicionar()">Adicionar</button>
	
	<br>

	<ion-list>
		<ion-item-sliding *ngFor="let venda of vendas">
			<ion-item>
				<br>
				<h3>Data: {{ venda.data }}</h3>
				<h3>Cliente: {{ venda.nomeCliente }}</h3>
				<h3>Produto: {{ venda.nomeProduto }}</h3>
				<h3>Quantidade: {{ venda.quantidade }}</h3>
				<h3>Preço vendido: R$ {{ venda.preco_unidade }}</h3>
				<h3>Total: R$ {{ venda.total }}</h3>
				<h3>Forma de pagamento: {{ venda.pagamento }}</h3>
			</ion-item>

			<!-- Botões ocultos -->
			<ion-item-options>
				<!--<button ion-button color="secondary" (click)="editarVenda(venda.id)">
					<ion-icon name="list"></ion-icon>	Editar
				</button>-->
				
				<button ion-button color="danger" (click)="removerVenda(venda)">
					<ion-icon name="remove-circle"></ion-icon>	Excluir
				</button>
				
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

</ion-content>
