<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Estatísticas</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="master">
 
    <ion-grid>
      
      <form (ngSubmit)="atualizarGrafico()" [formGroup]="formValidation">
        <ion-row>
          <ion-col col-4>
            <ion-item>
              <ion-label>Data Inicial</ion-label>  
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dtInicial" [class.invalid]="!formValidation.controls.dtInicial.valid && (formValidation.controls.dtInicial.dirty || submitAttempt)" [(ngModel)]="dtInicial" name="dtInicial"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col col-4>
            <ion-item>
              <ion-label>Data Final</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dtFinal" [class.invalid]="!formValidation.controls.dtFinal.valid && (formValidation.controls.dtFinal.dirty || submitAttempt)" [(ngModel)]="dtFinal" [(ngModel)]="dtFinal" name="dtFinal"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col col-4>
             <button ion-button color="default" type="submit">Buscar</button>
          </ion-col>
        </ion-row>
      </form>

    </ion-grid>

    <ion-card class="cards">
      <ion-card-header>
        Produtos vendidos
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Produtos vendidos
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
</ion-content>