<!--
  Generated template for the EstoquePorLojaSelecionadaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Estoque da loja {{ loja.nome }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<button ion-button (click)="adicionarEstoque()">Adicionar</button>
	
	<br><br><br>

	<ion-list>
		<ion-item-sliding *ngFor="let estoque of estoques">
			
			<ion-item>
				<h1>{{ estoque.nome }}</h1>
				<p>Quantidade em estoque: {{ estoque.quantidade }} {{ estoque.unidade }}</p>
			</ion-item>

			<!-- Botões ocultos -->
			<ion-item-options>
				<button ion-button color="secondary" (click)="transferir(estoque.id, estoque.nome, estoque.quantidade, estoque.unidade)">
					<ion-icon name="md-arrow-round-forward"></ion-icon>	Transferir
				</button>
				
				<button ion-button color="danger"  (click)="excluir(estoque.id)">
					<ion-icon name="remove-circle"></ion-icon>	Excluir
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>

