<!--
  Generated template for the EstoquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Estoque</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
	  <ion-card-header>
	    Como deseja buscar no estoque?
	  </ion-card-header>

	  <ion-list>
	    <button ion-item (click)="buscarPorLoja()">
	      <ion-icon name="cart" item-start></ion-icon>
	      Por loja
	      <p>Ex: A matriz tem quais produtos?</p>
	      <ion-icon name="md-arrow-forward" item-end></ion-icon>
	    </button>

	    <button ion-item (click)="buscarPorProduto()">
	      <ion-icon name="md-cube" item-start></ion-icon>
	      Por produto
	      <p>Ex: Quais lojas tem o produto 'X'?</p>
	      <ion-icon name="md-arrow-forward" item-end></ion-icon>
	    </button>

	  </ion-list>
	</ion-card>

	<ion-card>
	
	  <ion-card-header>
	    Cadastre aqui novas unidades
	  </ion-card-header>
		
	  <button ion-item (click)="crudUnidades()">
	  	<ion-icon name="md-calculator"></ion-icon>
	  	Cadastrar Unidades
	  	<p>Ex: Kg, Caixa</p>
	  </button>

	
	</ion-card>
</ion-content>
