<!--
  Generated template for the AddClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-title>Adicionar Loja</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form (ngSubmit)="save()" [formGroup]="formValidation">	
		<ion-list>
		  <ion-item>
		    <ion-label floating>Nome</ion-label>
		    <ion-input type="text" formControlName="nome" [class.invalid]="!formValidation.controls.nome.valid && (formValidation.controls.nome.dirty || submitAttempt)" required name="nome" [(ngModel)]="loja.nome"></ion-input>
		  </ion-item>

		  <ion-grid>
		  	<ion-row>
		  		<ion-col col-3>
		  			<ion-item>
		  			  <ion-label floating>DDD</ion-label>
		  			  <ion-input type="tel" formControlName="ddd" [class.invalid]="!formValidation.controls.ddd.valid && (formValidation.controls.ddd.dirty || submitAttempt)" maxlength="3" required name="ddd" [(ngModel)]="loja.ddd"></ion-input>
		  			</ion-item>
		  		</ion-col>

		  		<ion-col col-9>
		  			<ion-item>
		  			  <ion-label floating>Telefone</ion-label>
		  			  <ion-input type="text" formControlName="telefone" [class.invalid]="!formValidation.controls.telefone.valid && (formValidation.controls.telefone.dirty || submitAttempt)" required name="telefone" [(ngModel)]="loja.telefone"></ion-input>
		  			</ion-item>
		  		</ion-col>
		  	</ion-row>
		  </ion-grid>

		  <ion-item>
		    <ion-label floating>Endereço</ion-label>
		    <ion-input type="text" formControlName="endereco" [class.invalid]="!formValidation.controls.endereco.valid && (formValidation.controls.endereco.dirty || submitAttempt)" required name="endereco" [(ngModel)]="loja.endereco"></ion-input>
		  </ion-item>
		</ion-list>
		<button ion-button block color="secondary" type="submit">Salvar</button>
	</form>

</ion-content>
