<!--
  Generated template for the ClientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Clientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<button ion-button (click)="adicionar()">Adicionar</button>
	
	<br><br>

	<ion-list>
		<ion-item-sliding *ngFor="let cliente of clientes">
			<ion-item>
				<h1><ion-icon name="md-person"></ion-icon>  {{ cliente.nome }}</h1>
				<p><ion-icon name="md-call"></ion-icon>  {{ cliente.telefone }}</p>
				<p><ion-icon name="md-mail"></ion-icon>  {{ cliente.email }}</p>
			</ion-item>

			<!-- Botões ocultos -->
			<ion-item-options>
				<button ion-button color="secondary" (click)="editarCliente(cliente.id)">
					<ion-icon name="list"></ion-icon>	Editar
				</button>
				
				<button ion-button color="danger" (click)="removerCliente(cliente)">
					<ion-icon name="remove-circle"></ion-icon>	Excluir
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

</ion-content>
