<!--
  Generated template for the ProdutosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<button ion-button (click)="adicionar()">Adicionar</button>
	
	<br><br>

	<ion-list>
		<ion-item-sliding *ngFor="let produto of produtos">
			<ion-item>
				<h1>{{ produto.nome }}</h1>
				<p>R$ {{ produto.preco_venda }}</p>
			</ion-item>

			<!-- Botões ocultos -->
			<ion-item-options>
				<button ion-button color="secondary" (click)="editarProduto(produto.id)">
					<ion-icon name="list"></ion-icon>	Editar
				</button>
				
				<button ion-button color="danger" (click)="removerProduto(produto)">
					<ion-icon name="remove-circle"></ion-icon>	Excluir
				</button>
				
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

</ion-content>
