<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sinhá Bella</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>
    Seja bem-vindo!
  </ion-title>
</ion-content>