<!--
  Generated template for the AddClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-title>Adicionar Cliente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form (ngSubmit)="save()" [formGroup]="formValidation">
		<ion-list>
		  <ion-item>
		    <ion-label floating>Nome</ion-label>
		    <ion-input type="text" formControlName="nome" [class.invalid]="!formValidation.controls.nome.valid && (formValidation.controls.nome.dirty || submitAttempt)" required name="nome" [(ngModel)]="cliente.nome"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label floating>Telefone</ion-label>
		    <ion-input type="text" formControlName="telefone" [class.invalid]="!formValidation.controls.telefone.valid && (formValidation.controls.telefone.dirty || submitAttempt)" required name="telefone" [(ngModel)]="cliente.telefone"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label floating>E-mail</ion-label>
		    <ion-input type="text" formControlName="email" [class.invalid]="!formValidation.controls.email.valid && (formValidation.controls.email.dirty || submitAttempt)" required name="nome" [(ngModel)]="cliente.email"></ion-input>
		  </ion-item>
		</ion-list>
		<button ion-button block color="secondary" type="submit">Salvar</button>
	</form>

</ion-content>
