<!--
  Generated template for the funcionariosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Funcionários</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<button ion-button (click)="adicionar()">Adicionar</button>
	
	<br><br>

	<ion-list>
		<ion-item-sliding *ngFor="let funcionario of funcionarios">
			<ion-item>
				<h1><ion-icon name="md-person"></ion-icon>   {{ funcionario.nome }}</h1>
			</ion-item>

			<!-- Botões ocultos -->
			<ion-item-options>
				<button ion-button color="secondary" (click)="editarFuncionario(funcionario.id)">
					<ion-icon name="list"></ion-icon>	Editar
				</button>
				
				<button ion-button color="danger" (click)="removerFuncionario(funcionario)">
					<ion-icon name="remove-circle"></ion-icon>	Excluir
				</button>
				
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

</ion-content>
