<!--
  Generated template for the AddClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-title>Adicionar Funcionário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form (ngSubmit)="save()" [formGroup]="formValidation">
		<ion-list>
		  <ion-item>
		    <ion-label floating>Nome</ion-label>
		    <ion-input type="text" formControlName="nome" [class.invalid]="!formValidation.controls.nome.valid && (formValidation.controls.nome.dirty || submitAttempt)" required name="nome" [(ngModel)]="funcionario.nome"></ion-input>
		  </ion-item>
		</ion-list>
		<button ion-button block color="secondary" type="submit">Salvar</button>
	</form>

</ion-content>
