<!--
  Generated template for the AddVendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-title>Adicionar Venda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<form  (ngSubmit)="save()" [formGroup]="formValidation">

		<ion-list>

		<ion-input type="hidden" [(ngModel)]="venda.produto_id" formControlName="produto_id" [class.invalid]="!formValidation.controls.produto_id.valid && (formValidation.controls.produto_id.dirty || submitAttempt)"></ion-input>

		<ion-item>
		  <ion-label>Cliente</ion-label>
		  <ion-icon name="contact"></ion-icon>
		  <ion-select [(ngModel)]="venda.cliente_id" formControlName="cliente_id"  [class.invalid]="!formValidation.controls.cliente_id.valid && (formValidation.controls.cliente_id.dirty || submitAttempt)">
		    <ion-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}</ion-option>
		  </ion-select>
		</ion-item>

		  <ion-item>
		    <ion-label stacked>Nome do produto</ion-label>
		    <ion-input type="text" required [value]="nomeProduto"  [class.invalid]="!formValidation.controls.nomeProduto.valid && (formValidation.controls.nomeProduto.dirty || submitAttempt)" formControlName="nomeProduto" readonly></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Preço por unidade</ion-label>
		    <ion-input type="text" required placeholder="R$" [class.invalid]="!formValidation.controls.preco_unidade.valid && (formValidation.controls.preco_unidade.dirty || submitAttempt)"  formControlName="preco_unidade" [(ngModel)]="venda.preco_unidade" [value]="venda.preco_unidade"><ion-icon name="ios-eye-outline" item-right></ion-icon></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Quantidade</ion-label>
		    <ion-input type="number" required formControlName="quantidade" [class.invalid]="!formValidation.controls.quantidade.valid && (formValidation.controls.quantidade.dirty || submitAttempt)" [(ngModel)]="venda.quantidade" (ngModelChange)="calculaTotal()" (ngBlur)="calculaTotal()"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Total</ion-label>
		    <ion-input type="number" formControlName="total" readonly required [class.invalid]="!formValidation.controls.total.valid && (formValidation.controls.total.dirty || submitAttempt)" [(ngModel)]="venda.total"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Forma de pagamento</ion-label>
		    <ion-icon name="card"></ion-icon>
		    <ion-select [(ngModel)]="venda.pagamento" [class.invalid]="!formValidation.controls.pagamento.valid && (formValidation.controls.pagamento.dirty || submitAttempt)" formControlName="pagamento">
	    		<ion-option [value]="Dinheiro">Dinheiro</ion-option>
		   		<ion-option [value]="Debito">Cartão de Débito</ion-option>
		     	<ion-option [value]="Credito">Cartão de Crédito</ion-option>
		     	<ion-option [value]="Cheque">Cheque</ion-option>
		     	<ion-option [value]="Deposito">Depósito</ion-option>
		    </ion-select>
		  </ion-item>

		  <ion-item>
		    <ion-label>Data</ion-label>
		    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="data" [class.invalid]="!formValidation.controls.data.valid && (formValidation.controls.data.dirty || submitAttempt)" [(ngModel)]="venda.data"></ion-datetime>
		  </ion-item>

		</ion-list>

		<button ion-button block color="secondary" type="submit">Salvar</button>

	</form>
</ion-content>
