<!--
  Generated template for the EstoquePorLojaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Estoque por loja</ion-title>
  </ion-navbar>

</ion-header>
	

<ion-content padding>

	<h2 style="text-align: center">Escolha a loja para consultar o estoque</h2>

	<hr>

	<button ion-button (click)="adicionar()">Adicionar</button>
	
	<br><br><br>

	<ion-list>
		<ion-item-sliding *ngFor="let loja of lojas">
			
			<ion-item (click)="selecionarLoja(loja)">
				<ion-icon name="cart" item-start></ion-icon>
				<h1>{{ loja.nome }}</h1>
			</ion-item>

			<!-- Botões ocultos -->
			<ion-item-options>
				<button ion-button color="secondary" (click)="editarLoja(loja.id)">
					<ion-icon name="list"></ion-icon>	Editar
				</button>
				
				<button ion-button color="danger" (click)="removerLoja(loja)">
					<ion-icon name="remove-circle"></ion-icon>	Excluir
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

</ion-content>
