<!--
  Generated template for the AddProdutoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-title>Adicionar Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


	<form (ngSubmit)="save()" [formGroup]="formValidation">
		<ion-list>
		  <ion-item>
		    <ion-label floating>Nome</ion-label>
		    <ion-input type="text" formControlName="nome" [class.invalid]="!formValidation.controls.nome.valid && (formValidation.controls.nome.dirty || submitAttempt)" required name="nome" [(ngModel)]="produto.nome"></ion-input>
		  </ion-item>

		  <ion-item *ngIf="!formValidation.controls.nome.valid && (formValidation.controls.nome.dirty || submitAttempt)">
		      <p>Por favor, digite um nome.</p>
		  </ion-item>

		  <ion-item>
		    <ion-label floating>Preço de custo</ion-label>
		    <ion-input type="text" [class.invalid]="!formValidation.controls.preco_custo.valid && (formValidation.controls.preco_custo.dirty || submitAttempt)" formControlName="preco_custo" name="preco_custo" [(ngModel)]="produto.preco_custo"></ion-input>
		  </ion-item>

		  <ion-item *ngIf="!formValidation.controls.preco_custo.valid && (formValidation.controls.preco_custo.dirty || submitAttempt)">
		      <p>Por favor, digite um preço de custo.</p>
		  </ion-item>

		  <ion-item>
		    <ion-label floating>Preço de venda</ion-label>
		    <ion-input type="text" formControlName="preco_venda"  [class.invalid]="!formValidation.controls.preco_venda.valid && (formValidation.controls.preco_venda.dirty || submitAttempt)" name="preco_venda" [(ngModel)]="produto.preco_venda"></ion-input>
		  </ion-item>

		  <ion-item *ngIf="!formValidation.controls.preco_custo.valid && (formValidation.controls.preco_custo.dirty || submitAttempt)">
		      <p>Por favor, digite um preço de venda.</p>
		  </ion-item>

		</ion-list>
		<button ion-button block color="secondary" type="submit">Salvar</button>
	</form>

</ion-content>
