<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar vendas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="master">
  
  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let produto of produtos">
        <ion-card (click)="registrarVenda(produto)" class="cardvendas">
            <ion-card-content>
              <ion-card-title class="nome" text-center>
                {{ produto.nome }}
                </ion-card-title>
              <div class="preco" text-center>
                R$ {{ produto.preco_venda }}
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
