
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cardvendas {
	background-color: #5C6BC0;	
}

.nome {
	color: white;
}

.preco {
	background-color: white;
	border-radius: 10px;
}

