<!--
  Generated template for the TransferirEstoquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Transferir o estoque</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<form (ngSubmit)="save()">
		<h1>Transferência de Estoque</h1>
		<h3>Produto: {{ nomeProduto }}</h3>
		<p>Quantidade disponível: {{ quantidade }} {{ unidade }}</p>
		<ion-list>
			<ion-item>
			  <ion-label>Transferir para qual loja?</ion-label>
			  <ion-icon name="contact"></ion-icon>
			  <ion-select>
			    <ion-option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</ion-option>
			  </ion-select>
			</ion-item>

			<ion-item>
				<ion-label>
					Quantidade a transferir
				</ion-label>
				<ion-input type="text" placeholder="{{ unidade }}" name="quantidade" [(ngModel)]="estoque.quantidade">
				</ion-input>
			</ion-item>
		</ion-list>

		<button ion-button block color="secondary" type="submit">Transferir</button>
	</form>
</ion-content>
